<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>webpack {{htmlWebpackPlugin.options.title}}</title>
  </head>
  <body>
    <button class="join_btn">66</button>
    <button class="apple_btn1">apple</button>
    <button class="apple_btn2">apple2</button>
    <button class="naver">naver이동</button>
    <button class="wopen">window.open apple이동</button>
    <h4>화면 확인</h4>
    <div class="text"></div>
    <div>setTImeout 실행중인지 확인: <span class="text2"></span></div>
    <div>라이브러리 visible 확인: <span class="text3"></span></div>
    <div>라이브러리 visible 숨김 확인: <span class="text4"></span></div>
    {{! <div>ios에서 확인: <span class="text3"></span></div>
    <div>hidden 활성화 확인: <span class="text4"></span></div>
    <div>제이쿼리 blur 확인: <span class="text5"></span></div>
    <div>제이쿼리 focus 확인: <span class="text6"></span></div>
    <div>history <span class="text7"></span></div>
    <div>visibilitychange 확인<span class="text8"></span></div>
    <div>visibilitychange 숨김 상태 확인<span class="text9"></span></div>
    <div>visibilitychange state 상태 확인<span class="text10"></span></div> }}
    <div class="bg"></div>
  </body>
</html>

<!--
    절대경로 (무조건 파일의 가장 최상단 경로)
    /dist/bundle.js
    앞에 .이 있다면 지금있는파일의 위치가 된다
    ./duist/bundle.js
 -->