<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>webpack {{htmlWebpackPlugin.options.title}}</title>
  </head>
  <body>
   <button class="join_btn">button4</button>
  </body>
</html>

<!--
    절대경로 (무조건 파일의 가장 최상단 경로)
    /dist/bundle.js
    앞에 .이 있다면 지금있는파일의 위치가 된다
    ./duist/bundle.js
 -->